<!DOCTYPE html>
<html>
<head>
  <title>clicktion/new-lecture</title>
  <meta charset="utf-8"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  	
  <link rel="stylesheet" href="stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-resource"></script>
</head>
<body>
	<form id="newlecture" v-on:submit.prevent="addNewLecture()" style="width: 70%;margin: auto;">
	<h3>Eine neue Vorlesung hinzufügen</h3>
	<hr>
	<div class="input-group">
  		<label for="shortname">Kürzel:</label>  
  		<input v-model="id" type="text" maxlength="10" class="form-control" id="shortname" placeholder="z.B. Prg2" required="true" v-md>
  	</div>
   	<div class="input-group">
  		<label for="fullname">Vollständiger Name:</label>  
  		<input v-model="fullname" type="text" maxlength="100" class="form-control" id="fullname" placeholder="z.B. Programmieren 2" required="true">
  	</div>
    <div class="input-group">
  		<label for="course">Studiengang:</label>  
  		<input v-model="course" type="text" maxlength="5" class="form-control" id="course" placeholder="z.B. INF" required="true">
  	</div>
   	<div class="input-group">
    	<span class="input-group-addon">Semester</span>
    	<p title="Das aktuelle Semester" id="semester" type="text" class="form-control" name="semester" v-model="semester" style="max-width:100px !important;">{{semester}}</p>
  	</div>
  	<hr>
  	<button type="submit" v-on:click="" class="btn btn-default">Hinzufügen</button>
  	<p v-model="status" style="color: red;">{{status}}</p>
  </form>
</body>
  	<script src="/javascript/new_lecture.js"></script>
</html>
