  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-resource"></script>
<body>
<header></header>
<form id="app">
<h3>Eine neue Umfrage erstellen</h3>
 <div class="input-group">
    <span class="input-group-addon">Frage</span>
    <input id="msg" type="text" class="form-control" name="msg" required="true" placeholder=". . . ?">
  </div>
  <h4>Typ der Antworten:</h4>
  <label class="radio-inline"><input type="radio" name="optradio" value="1" v-model="type">Freier Text</label>
  <label class="radio-inline"><input type="radio" name="optradio" value="0" v-model="type">A/B/C</label>
<lbr v-if="type != -1"></lbr>
<div v-if="type == 0">
 <div class="input-group" v-for="i of count">
    <span class="input-group-addon">{{ Alpha[i-1] }}</span>
    <input v-bind:id="Alpha[i]" type="text" class="form-control" required="true" v-bind:name="Alpha[i]" placeholder=". . .">
  </div>
  <button id="rmFieldBtn" type="button" v-on:click="rmField">- Feld löschen</button>
  <button id="newFieldBtn" type="button" v-on:click="addField">+ Neues Feld</button>
  <div>
  </div>
  <lbr style="margin-top:50px;"></lbr>
</div>
<div v-if="type == 1">
 <div class="input-group">
    <span class="input-group-addon">Beste Antwort</span>
    <input id="msg" type="text" class="form-control" name="msg" required="true" placeholder=". . .">
  </div>
  <lbr></lbr>
</div>
  <button type="submit" class="btn btn-default" v-if="type != -1">Speichern</button>
  </form>
</body>